{% extends 'base.html.twig' %}
{% block body %}

<div class="row">
<div class="col-2"></div>
<div class="col-9 ">
   <div class="container">
    <h1>Creer votre compte<span style="font-size:1.4rem;"> : remplissez les champs suivants pour créer votre compte</span></h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('home') }}">retour au menu</a>
</div></div></div>
{% endblock %}