{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}



{% block body %}
<div class="jumbotron jumbotron-fluid" style="background:url(./images/jumbotron.jpg) no-repeat;background-size:40 100;">
  <div class="container">
    <h1 class="text-center display-4 ">Message d'accroche</h1>
    <p class="text-center lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>

<!--system card-->
<div class="container">
  <div class="card-group vgr-cards">
    <div class="card">
      <div class="card-img-body">
      <img class="card-img" src="https://picsum.photos/500/230" alt="Card image cap">
      </div>
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little
          bit longer.</p>
        <a href="#" class="btn btn-outline-primary">Primary</a>
      </div>
    </div>
    <div class="card">
      <div class="card-img-body">
        <img class="card-img" src="https://picsum.photos/400/200" alt="Card image cap"></div>
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content. This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. This card has supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-outline-primary">Primary</a>
      </div>
    </div>
    <div class="card">
      <div class="card-img-body">
        <img class="card-img" src="https://picsum.photos/450/250" alt="Card image cap"></div>
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action. This is a wider card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.</p>
        <a href="#" class="btn btn-outline-primary">Primary</a>
      </div>
    </div>
  </div>
</div>
<!--end system card-->
<div id="jsonmoselle" data-json="{{asset('js/moselle.json')}}">
<div id="tooltip"></div>
<div class="row">
  <div class="col-10 offset-1">
  <div id="#calendrier" ></div>
  </div>
</div>


<div id ="recup" data-valeur="{{event}}" data-toggle="popover"  style="background-color:blue !important;"></div>
<div id="map"></div>
<!--recherche pour map-->
  <p>
            <label for="champ-ville">Ville : </label>
            <input type="text" id="champ-ville">
           
          <p>latitude is :<div id="lat"></div>
            longitude is :<div id="lon"></div>
              </p>
        </p>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modalBody">
        
      </div>
     
     {#} <div id="idedit" data-id="" ></div>{#}
      debut d'évenement:<div id="start"></div>
     fin d'évenement:<div id="end"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
   
    
    
         <a href="Url" type="button" class="btn btn-primary" id="hrefid" data-href="" >Modifier</a>
        
        
      
      
     
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
{% endblock %}

{% block javascripts %}
<script src='https://unpkg.com/popper.js/dist/umd/popper.min.js'></script>
<script src='https://unpkg.com/tooltip.js/dist/umd/tooltip.min.js'></script>
 <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>
<script>
  //recupere le json pour le js
var test= $('#recup').data("valeur");


</script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src='https://unpkg.com/tooltip.js/dist/umd/tooltip.min.js'></script>
 
  


<script src="./js/perso.js"></script>
<script src="./js/ajaxGet.js"></script>
<script src="./js/calendar.js"></script>
<script src="./js/map.js"></script>

  
 


{% endblock %}
