{% extends 'base.html.twig' %}

{% block title %}BlogController!{% endblock %}

{% block body %}
<div class="container">



<article>
    <h2>Titre de l'article</h2>
    <div class="metadata">ecrit le 10/05/2002 à 19h00</div>
    <div class="content">
        <img src="" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora nostrum facilis repudiandae! Accusantium, odio unde?</p>
        <p>Voluptate reprehenderit velit praesentium harum dolorem, corrupti ipsum alias culpa voluptas assumenda facere tenetur totam?</p>
        <a href="" class="btn btn-primary">lire la suite</a>
    </div>
</article>
<article>
    <h2>Titre de l'article</h2>
    <div class="metadata">ecrit le 10/05/2002 à 19h00</div>
    <div class="content">
        <img src="" alt="">
        <p>In illum nisi, laboriosam vitae nostrum sunt id ipsam aperiam tempore exercitationem cum, atque voluptas?</p>
        <p>Recusandae accusantium est doloribus, iusto consectetur, quod impedit odio obcaecati, expedita voluptas reiciendis eaque magnam?</p>
        <a href="" class="btn btn-primary">lire la suite</a>
    </div>
</article>
<article>
    <h2>Titre de l'article</h2>
    <div class="metadata">ecrit le 10/05/2002 à 19h00</div>
    <div class="content">
        <img src="" alt="">
        <p>Minus nemo libero consequatur saepe repellat, harum fugiat sapiente eaque illo dolorem et ullam? Non.</p>
        <p>Neque, a error quo expedita atque aut ratione accusantium, ad officia cum at, sint dolorem.</p>
        <a href="" class="btn btn-primary">lire la suite</a>
    </div>
</article>
</div>
{% endblock %}
